<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ STATIC_URL}}website/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="{{ STATIC_URL}}website/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL}}website/css/main.css">

        <script src="{{ STATIC_URL}}website/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="{{ STATIC_URL}}website/js/vendor/jquery-1.8.3.min.js"></script>
        
        {% block extra_head %}
        {% endblock %}

        
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        {% block navbar %}
        {% endblock %}

        

        {% block console %}
            <div class="container">
                <div class="row">
                    <div id="ajaxutils-console-message"></div>
                </div>
            </div>
        
        {% endblock %}
        
        {% block content %}
        {% endblock %}



        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

        <script>window.jQuery || document.write('<script src="{{ STATIC_URL}}website/js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        -->
        <script src="{{ STATIC_URL}}website/js/vendor/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL}}website/js/vendor/knockout-2.2.0.js"></script>
        <script src="{{ STATIC_URL}}website/js/vendor/knockout.mapping-latest.js"></script>
        <script src="{{ STATIC_URL }}ajaxuploader/fineuploader/js/fineuploader-3.0.min.js" ></script>
        <link href="{{ STATIC_URL }}ajaxuploader/fineuploader/css/fineuploader.css" media="screen" rel="stylesheet" type="text/css" />
        
        <script src="{{ STATIC_URL}}website/js/main.js"></script>
        <!--
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        -->
        
        <script src="{{ STATIC_URL }}website/js/ajaxsetup.js"></script>
        <script src="{{ STATIC_URL }}website/js/ajaxutils.js"></script>        
        
        {% block extra_body %}
        {% endblock %}
        
        
        
    </body>
</html>
