{% extends "website/base.html" %}
{% load url from future %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="span12">
        <h2>CSV Sources</h2>
        <ul class="nav">
            {% for source in sources %}
                <li class="nav-item">{{ source.csv.path }} <a class="" href="{% url "website.views.csvsource" source.id %}">view</a></li>
            {% endfor %}
        </ul>
        </div>
        
        <div>
            {% include "webiste/add_csv_source.html" %}
        </div>
    </div>
</div>


{% endblock %}