{% extends "website/base.html" %}
{% load url from future %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="span12">
        <h2>CSV Source</h2>
        {{ source.csv.path }}
        </div>
        
        <div class="span12" id="descriptors-container">
        <ul class="nav">
            {% for descriptor in descriptors %}
                <li><a href="{% url "website.views.descriptor" descriptor.id %}">{{ descriptor.name }}</a></li>
            {% endfor %}
        </ul>
        
        <a class="btn" href="{% url "website.views.add_source_descriptor" source.id %}">Add a descriptor</a>
        </div>
        
    </div>
</div>


{% endblock %}


{% block extra_body %}
<script>

    
    

</script>


{% endblock %}