{% extends "website/base.html" %}
{% load url from future %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="span12">
        <h2>Descriptor</h2>
        {{ descriptor.source.name }}  <a class="" href="{% url "website.views.source" descriptor.source.id %}">view source</a> 
        
        </div>
        
        <div class="span12" id="descriptor-container">
        <form>
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>Type</td>
                    <td></td>
                </tr>
                <tbody data-bind="foreach: descriptorItems()">
                    <td>
                        <select data-bind="value:name, options:$parent.allowed_names">
                    </td>
                    <td>
                    <select data-bind="value:type, options:$parent.allowed_types">
                    </select>
                    </td>
                    <td>
                        <span class="close" data-bind="click: $parent.removeDescriptor">x</span>
                    </td>
                                    
                </tbody>
            </table>
            
            <button class="btn" data-bind="click: addItem">Add item</button>
        </div>
        </form>
        <button class="btn btn-danger" data-bind="click: save">Save description</button>
        <button class="btn btn-danger" data-bind="click: loadData">Reload data</button>
        <button class="btn btn-danger" data-bind="click: getRows">Show records</button>
        <a href="{% url "website.views.dataset_table_view" descriptor.id %}">View as table</a>
        
        <div id="rows-container" data-bind="if: rows()">
            <table class="table table-condensed table-bordered-table-striped">
            <tbody>
                <tr data-bind="html: $root.getTableHeader"></tr>
            </tbody>
            <tbody data-bind="foreach:rows()">
                <tr data-bind="html: getTableRow()"></tr>
            </tbody>
            </table>
        </div>
        </div>
        
        
    </div>
</div>


{% endblock %}


{% block extra_body %}
<script>

    $(function(){
        
        var allowed_types = JSON.parse('{{allowed_types|safe}}');
        var allowed_names = JSON.parse('{{allowed_names|safe}}');
        var descriptor_resource_url = '{{descriptor_resource_url|safe}}';
        var load_data_url = '{{load_data_url|safe}}';
        var dataset_data_url = '{{dataset_data_url|safe}}';
        var initial_descriptor = JSON.parse('{{descriptor_json|safe}}');
    
        var DescriptorItem = function(options){
            var self=this;
            var options = options || {};
            self.name = ko.observable(options.name || allowed_names[0]);
            self.type = ko.observable(options.type || allowed_types[0]);
            self.sniffed = ko.observable(false);
            self.error = '';
            self.id = options.id || null;
            
            self.serialize = function(){
                var mapping = {
                    'ignore': ['sniffed', 'error', 'serialize']
                };
                var data = ko.mapping.toJS(self, mapping);
                return data;

            };
        };
        
        
        var RowItem = function(metadata, data){
            var self=this;
            self.metadata = metadata;
            self.data = data;
        
            
            self.getTableRow = function(){

                var out = $("<tr></tr>");
                for(var field in self.metadata()){
                    var item = $("<td></td>");
                    console.log("f", field);
                    item.text(self.data[field]);
                    out.append(item);
                }
                return out.html();
            
            };
        
        
        };
    
        var DescriptorForm = function(){
            var self=this;
            
            self.id = null;
            self.descriptorItems = ko.observableArray([]);
            self.rows = ko.observableArray([]);
            self.metadata = ko.observable({});
            
            self.allowed_types = allowed_types;
            self.allowed_names = allowed_names;
            
            self.addItem = function(){
                var item = new DescriptorItem();
                self.descriptorItems.push(item);
            };    
            
            self.removeDescriptor = function(descriptor){
                self.descriptorItems.remove(descriptor);
            };
            
            self.deserialize = function(obj){
            
                self.id = obj.id;
                self.descriptorItems([]);
                for(var i=0,n=obj.items.length;i<n;i++){
                    
                    var descriptor = obj.items[i];
                    var item = new DescriptorItem({name:descriptor.name, type:descriptor.type, id:descriptor.id });           
                    self.descriptorItems.push(item);
                    
                }
            };
            
            
            self.serialize = function(){
            
            
                var data = {
                    id : self.id
                };
                var items = []
                for(var i=0,n=self.descriptorItems().length;i<n;i++){
                    var k = self.descriptorItems()[i];
                    var ser = k.serialize();
                    items.push(ser);
                
                }
                data.items = JSON.stringify(items)
                console.log(data)
                return data;
            };
            
            self.load = function(){
            
               
                $.ajax({
                    
                    type : 'GET',
                    dataType : 'json',
                    url : descriptor_resource_url,
                    success : function(response){
                        console.log("r", response);
                        if(response.id){
                            self.deserialize(response);
                            ajaxutils.alertMessage("Descriptor loaded", "alert-success");
                        }
                    }
                
                });
            
            };
            
            self.loadData = function(){
            
                ajaxutils.alertMessage("Recreating table!");
                $.ajax({
                    
                    type : 'POST',
                    dataType : 'json',
                    url : load_data_url,
                    success : function(response){
                        console.log("r", response);
                        ajaxutils.alertMessage("Tables recreated!", "alert-success");
                    }
                
                });
            
            };
            
            
            
            self.getRows = function(){
                ajaxutils.alertMessage("getting rows!");
                $.ajax({
                    data : { limit: 100 },
                    type : 'get',
                    dataType : 'json',
                    url : dataset_data_url,
                    success : function(response){
                        console.log("r", response);
                        ajaxutils.alertMessage("Rows here!", "alert-success");
                        if(response.rows){
                            self.metadata(response.descriptor.metadata);
                            self.loadRows(response.rows);
                        }
                    }
                });            
            };
            
            self.loadRows = function(rows){
                var r = [];

                ko.utils.arrayForEach(rows, function(item) {
                    var rowItem = new RowItem(self.metadata, item);
                    r.push(rowItem);
                });
                self.rows(r);
                
            };
            
            self.getTableHeader = ko.computed(function(){
                var out = $("<tr></tr>");
                for(var field in self.metadata()){
                    var item = $("<th></th>");
                    item.text(field);
                    out.append(item);
                }
                return out.html();
            });
            
            
            
            self.save = function(){
            
                var data = self.serialize();
                $.ajax({
                    
                    type : 'POST',
                    dataType : 'json',
                    url : descriptor_resource_url,
                    data: data,
                    success : function(response){
                        console.log("r", response);
                        ajaxutils.alertMessage("saved", "alert-success");
                    }
                
                });
            
            
            };
            
            
            self.load();
            
        
        };
    
        var descriptorForm = new DescriptorForm();
        ko.applyBindings(descriptorForm, document.getElementById("descriptor-contaier"));
    
    
    });
</script>


{% endblock %}