{% extends "website/base.html" %}
{% load url from future %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="span8">
            <div id="descriptors-list">
                {% include "website/descriptors_list.html" %}
            </div>
        </div>
        
        <div class="span4">        
            <h3>Create new dataset</h3>
            <p>From file sources</p>
        
            <div>
                {% include "website/add_csv_source.html" %}
            </div>
            <div>
                {% include "website/add_shape_source.html" %}
            </div>
        </div>
        
    </div>
</div>


{% endblock %}