{% extends "website/base.html" %}
{% block content %}

        <div class="jumbotron masthead">
            <div class="container">
              <h1>GeoShapes</h1>
              <p>Browse, share, convert and <strong>edit online</strong> your file-based datasets.</p>
              <p>
                <a href="#" class="btn btn-danger btn-large">Sign up</a>
               
                <a href="#" class="btn btn-primary btn-large">Learn more</a>
              </p>
            <!--
              <ul class="masthead-links">
                <li>
                  <a href="http://github.com/twitter/bootstrap" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);">GitHub project</a>
                </li>
                <li>
                  <a href="./getting-started.html#examples" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Examples']);">Examples</a>
                </li>
                <li>
                  <a href="./extend.html" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Extend']);">Extend</a>
                </li>
                <li>
                  Version 2.2.2
                </li>
              </ul>
            -->
            </div>
          </div>


        <div class="container">
            

            <!-- Example row of columns -->
            <div class="row featureboxes">
                <div class="span4">
                    <div class="featurebox">
                        <h2>Store and browse</h2>
                        <p>Upload your files in a click and browse your data</p>
                        <p></p>
                        <a class="btn" href="#">View details &raquo;</a>
                    </div>
               </div>
               <div class="span4">
                    <div class="featurebox">
                        <h2>Edit and convert</h2>
                        <p></p>
                        <p></p>
                        <a class="btn" href="#">View details &raquo;</a>
                    </div>
                </div>
                <div class="span4">
                    <div class="featurebox">
                    <h2>Share and embed</h2>
                        <p></p>
                        <p></p>
                        <a class="btn" href="#">View details &raquo;</a>
                    </div>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; WhiteMagic 2012</p>
            </footer>

        </div> <!-- /container -->

{% endblock %}
