{% extends "website/base.html" %}
{% load url from future %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="span12">
            <a class="btn" href="{% url "website.views.sources" %}">To sources list</a>
            <h2>CSV Source</h2>
            {{ source.csv.path }}

       </div>
       <div class="span12" id="descriptors-container">
           
           {% if source.has_descriptor_with_table %}
           
               <ul class="nav">
                   {% for descriptor in descriptors %}
                       <li class="nav-item">
                       Descriptor
                       <a class="" href="{% url "website.views.descriptor" descriptor.id %}">View descriptor</a>
                       <a class="" href="{% url "website.views.dataset_table_view" descriptor.id %}">View as table</a>        
                       </li>
                   {% endfor %}
               </ul>
               
               
               
               <a class="btn" href="{% url "website.views.add_source_descriptor_csv" source.id %}">Add another descriptor</a>
           
           {% else %}
               <a class="btn btn-danger" data-bind="click: loadData">Load data</a>
           {% endif %}
       </div>
       
    </div>
</div>


{% endblock %}


{% block extra_body %}
<script>
    $(function(){
        var load_source_data_ajax = '{% url "load_source_data_ajax" source.id %}';
        var ModelForm = function(){
        
            var self=this;
            self.loadData = function(){
                ajaxutils.alertMessage("Loading data");
                $.ajax({
                    url : load_source_data_ajax,
                    type : 'POST',
                    dataType : 'json',
                    success : function(response){
                        if(response.status == 200){
                                ajaxutils.alertMessage("Data loaded", "alert-success");
                                window.location = window.location;
                        
                        }else{
                            ajaxutils.alertMessage("Error:" + response.error, "alert-error");
                        }
                    
                    }
                
                
                });
            
            };
        
        
        };
        
        var mfx = new ModelForm();
        ko.applyBindings(mfx, document.getElementById("descriptors-container"));
    
    
    });
    
    

</script>


{% endblock %}