Django==1.4.2
GDAL==1.9.1
Shapely==1.2.16
South==0.7.6
-e git://github.com/bianchimro/django-ajax-uploader.git@d33ab4c03640e6d9d62bb4275d6305488dc54101#egg=ajaxuploader-dev
amqp==1.0.6
anyjson==0.3.3
billiard==2.7.3.19
celery==3.0.12
django-bootstrapped==0.1.0-dev
django-celery==3.0.11
django-debug-toolbar==0.9.4
django-extensions==1.0.1
django-geojson==1.0.0
django-model-utils==1.1.0
django-picklefield==0.3.0
django-shapes==0.2.0
django-social-auth==0.7.12
docutils==0.9.1
geojson==1.0.1
httplib2==0.7.7
kombu==2.5.4
oauth2==1.5.211
psycopg2==2.4.5
python-dateutil==1.5
python-openid==2.2.5
pytz==2012h
simplejson==2.6.2
six==1.2.0
wsgiref==0.1.2
