

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
   
.btn-fixed200 { width:200px; }





.featureboxes { margin-top:20px;}
.featurebox {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid #ddd 1px;
    padding:10px;
}

.featurebox .content{

}


.featurebox h2{
    text-align:center;

}














